body {
  font-family: Arial;
  margin: 0;
  background: #f5f7fa;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #4f46e5;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
}

button {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.login-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.dashboard {
  padding: 20px;
}